force-app/main/default/flows/Enable_Community_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Replace_Nickname_for_Retry</name>
        <label>Replace Nickname for Retry</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>user.CommunityNickname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nicknameUnique</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Not_Found_Error</name>
        <label>Set Contact Not Found Error</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ERROR_CONTACT_NOT_FOUND</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Fault_Message</name>
        <label>Set Fault Message</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Profile_Not_Found_Error</name>
        <label>Set Profile Not Found Error</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ERROR_PROFILE_NOT_FOUND</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Settings_Not_Found_Error</name>
        <label>Set Settings Not Found Error</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ERROR_SETTINGS_NOT_FOUND</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_User_Defaults</name>
        <label>Set User Defaults</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>user.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Profile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Organization.TimeZoneSidKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Organization.DefaultLocaleSidKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Organization.LanguageLocaleKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Settings.Email_Encoding_Key__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Details_from_Contact</name>
        <label>Set User Details from Contact</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>user.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.CommunityNickname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nickname</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_User</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DUPLICATE_NICKNAME_KEYWORD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DUPLICATE_COMM_NICKNAME</stringValue>
        </value>
    </constants>
    <constants>
        <name>EMAIL_ENCODING_KEY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>UTF-8</stringValue>
        </value>
    </constants>
    <constants>
        <name>ERROR_CONTACT_NOT_FOUND</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact not found</stringValue>
        </value>
    </constants>
    <constants>
        <name>ERROR_PROFILE_NOT_FOUND</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The profile defined in the community user settings could not be found.</stringValue>
        </value>
    </constants>
    <constants>
        <name>ERROR_SETTINGS_NOT_FOUND</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Community user settings could not be found.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SETTINGS_DEVELOPER_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Default</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Duplicate_Nickname</name>
        <label>Check for Duplicate Nickname</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Set_Fault_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Duplicate_Nickname</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DUPLICATE_NICKNAME_KEYWORD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Replace_Nickname_for_Retry</targetReference>
            </connector>
            <label>Is Duplicate Nickname</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Contact</name>
        <label>Check Get Contact</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_Contact_Not_Found_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Details_from_Contact</targetReference>
            </connector>
            <label>Got Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Profile</name>
        <label>Check Get Profile</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Profile_Not_Found_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Profile Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Profile</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Organization</targetReference>
            </connector>
            <label>Got Profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Settings</name>
        <label>Check Get Settings</label>
        <locationX>1403</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Settings_Not_Found_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Settings Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Settings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Settings</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Profile</targetReference>
            </connector>
            <label>Got Settings</label>
        </rules>
    </decisions>
    <description>Enable a community user for a contact</description>
    <environments>Default</environments>
    <formulas>
        <name>alias</name>
        <dataType>String</dataType>
        <expression>LOWER( LEFT({!Get_Contact.FirstName}, 1) &amp; LEFT({!Get_Contact.LastName}, 4) )</expression>
    </formulas>
    <formulas>
        <name>nickname</name>
        <dataType>String</dataType>
        <expression>LEFT( 
  LEFT( {!username}, FIND(&quot;@&quot;, {!username}) - 1 ), 
  40
)</expression>
    </formulas>
    <formulas>
        <name>nicknameUnique</name>
        <dataType>String</dataType>
        <expression>LEFT( 
  LEFT( {!username}, FIND(&quot;@&quot;, {!username}) - 1 ) &amp; RIGHT({!$Flow.InterviewGuid}, 10), 
  40
)</expression>
    </formulas>
    <interviewLabel>Enable Community User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enable Community User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_User</name>
        <label>Insert User</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <faultConnector>
            <targetReference>Check_for_Duplicate_Nickname</targetReference>
        </faultConnector>
        <inputReference>user</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Contact_Not_Found_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization</name>
        <label>Get Organization</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_User_Defaults</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TimeZoneSidKey</queriedFields>
        <queriedFields>DefaultLocaleSidKey</queriedFields>
        <queriedFields>LanguageLocaleKey</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Profile</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Profile_Not_Found_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Settings.Profile_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Settings</name>
        <label>Get Settings</label>
        <locationX>1403</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Settings</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Settings_Not_Found_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SETTINGS_DEVELOPER_NAME</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Community_User_Setting__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Profile_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1277</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
