force-app/main/default/flows/Manage_Community_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Base_URL</name>
        <label>Get Base URL</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <actionName>FlowGetOrgBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User_Details_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>FlowGetOrgBaseUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Reset_User_Password</name>
        <label>Reset User Password</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>FlowResetPassword</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Resetting_Password_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sendEmail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowResetPassword</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Replace_Nickname_for_Retry</name>
        <label>Replace Nickname for Retry</label>
        <locationX>2162</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>user.CommunityNickname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strFmlNewUserNicknameUnique</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Network_Member_Not_Found</name>
        <label>Set Error - Network Member Not Found</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>strCustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttErrorNetworkMemberNotFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Profile_Not_Found</name>
        <label>Set Error - Profile Not Found</label>
        <locationX>2690</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>strCustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttErrorProfileNotFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Settings_Not_Found</name>
        <label>Set Error - Settings Not Found</label>
        <locationX>3218</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>strCustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttErrorSettingsNotFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unexpected_Type_Error</name>
        <label>Set Unexpected Type Error</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>strCustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttErrorUnexpectedTypeMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Defaults</name>
        <label>Set User Defaults</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>user.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Profile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.TimeZoneSidKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LocaleSidKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EMAIL_ENCODING_KEY</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_User_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Details</name>
        <label>Set User Details</label>
        <locationX>1898</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>user.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Username.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strFmlNewUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strFmlNewUserAlias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.CommunityNickname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strFmlNewUserNicknameDefault</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_for_Disabling</name>
        <label>Set User for Disabling</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>user.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.IsPortalEnabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Disable</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceActionDisableUser</name>
        <choiceText>Disable Customer User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>disable</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceActionResetPassword</name>
        <choiceText>Reset Password</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>reset</stringValue>
        </value>
    </choices>
    <constants>
        <name>EMAIL_ENCODING_KEY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>UTF-8</stringValue>
        </value>
    </constants>
    <constants>
        <name>SETTINGS_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Default</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Action_Type</name>
        <label>Check Action Type</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Set_Unexpected_Type_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unexpected Type</defaultConnectorLabel>
        <rules>
            <name>Is_Reset_Password</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Action_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceActionResetPassword</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Reset_Password_Screen</targetReference>
            </connector>
            <label>Is Reset Password</label>
        </rules>
        <rules>
            <name>Is_Disable_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Action_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceActionDisableUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Disable_User_Screen</targetReference>
            </connector>
            <label>Is Disable User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Duplicate_Nickname_Error</name>
        <label>Check for Duplicate Nickname Error</label>
        <locationX>2294</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Duplicate_Nickname_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DUPLICATE_COMM_NICKNAME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Replace_Nickname_for_Retry</targetReference>
            </connector>
            <label>Has Duplicate Nickname Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_User_Permission</name>
        <label>Check for User Permission</label>
        <locationX>2970</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Invalid_Access_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Manage_Community_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>User Has Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Network_Member</name>
        <label>Check Get Network Member</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Network_Member_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Network Member Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Network_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Network_Member</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Base_URL</targetReference>
            </connector>
            <label>Got Network Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Profile</name>
        <label>Check Get Profile</label>
        <locationX>2294</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Profile_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Profile</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Defaults</targetReference>
            </connector>
            <label>Got Profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Settings</name>
        <label>Check Get Settings</label>
        <locationX>2756</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Settings_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Settings Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Settings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Settings</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Profile</targetReference>
            </connector>
            <label>Got Settings</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_User</name>
        <label>Check Get User</label>
        <locationX>1931</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Enable_User_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Community User Not Found</defaultConnectorLabel>
        <rules>
            <name>Has_Community_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Network_Member</targetReference>
            </connector>
            <label>Has Community User</label>
        </rules>
    </decisions>
    <description>Screen Flow for contact record pages. Enable user, reset password or login as the contact&apos;s community user.</description>
    <environments>Default</environments>
    <formulas>
        <name>strFmlLogInAsUserUrl</name>
        <dataType>String</dataType>
        <expression>{!Get_Base_URL.orgBaseUrl} + &quot;/servlet/servlet.su?oid=&quot; + {!$Organization.Id} +
&quot;&amp;retURL=%2F&quot; + {!recordId.Id} + 
&quot;&amp;sunetworkid=&quot; + {!Get_Network_Member.NetworkId} &amp;
&quot;&amp;sunetworkuserid=&quot; + {!Get_User.Id}</expression>
    </formulas>
    <formulas>
        <name>strFmlNewUserAlias</name>
        <dataType>String</dataType>
        <expression>LOWER( LEFT({!recordId.FirstName}, 1) &amp; LEFT({!recordId.LastName}, 4) )</expression>
    </formulas>
    <formulas>
        <name>strFmlNewUserEmail</name>
        <dataType>String</dataType>
        <expression>IF( {!Input_EmailIsDifferent}, {!Input_Email.value}, {!Input_Username.value} )</expression>
    </formulas>
    <formulas>
        <name>strFmlNewUserNicknameDefault</name>
        <dataType>String</dataType>
        <expression>LEFT( 
  LEFT( {!Input_Username.value}, FIND(&quot;@&quot;, {!Input_Username.value}) - 1 ), 
  40
)</expression>
    </formulas>
    <formulas>
        <name>strFmlNewUserNicknameUnique</name>
        <dataType>String</dataType>
        <expression>LEFT( 
  LEFT( {!Input_Username.value}, FIND(&quot;@&quot;, {!Input_Username.value}) - 1 ) &amp; RIGHT({!$Flow.InterviewGuid}, 10), 
  40
)</expression>
    </formulas>
    <interviewLabel>Manage Community User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Community User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_User</name>
        <label>Insert User</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Success_Enabling_User_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_for_Duplicate_Nickname_Error</targetReference>
        </faultConnector>
        <inputReference>user</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Network_Member</name>
        <label>Get Network Member</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Network_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NetworkMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>2294</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Profile</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Settings.Profile_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Settings</name>
        <label>Get Settings</label>
        <locationX>2756</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Settings</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SETTINGS_NAME</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Community_User_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1931</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Disable</name>
        <label>Update User - Disable</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Success_Disabling_User_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>user</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirm_Disable_User_Screen</name>
        <label>Confirm Disable User Screen</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_User_for_Disabling</targetReference>
        </connector>
        <fields>
            <name>Confirm_Disable_User_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttConfirmDisableUserMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Reset_Password_Screen</name>
        <label>Confirm Reset Password Screen</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_User_Password</targetReference>
        </connector>
        <fields>
            <name>Confirm_Reset_Password_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttConfirmResetPasswordMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enable_User_Screen</name>
        <label>Enable User Screen</label>
        <locationX>2756</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Settings</targetReference>
        </connector>
        <fields>
            <name>Enable_User_Screen_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Clicking Enable User will send an email to the Contact with a link to set up a new password and log in.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Username</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Username</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>recordId.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Input_EmailIsDifferent</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Email is different than username</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_EmailIsDifferent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Enable User</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>3746</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Header</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Screen_Message_Flow_Fault</name>
            <fieldText>&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_Screen_Message_Custom</name>
            <fieldText>&lt;p&gt;Error: {!strCustomErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Access_Screen</name>
        <label>Invalid Access Screen</label>
        <locationX>4010</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invalid_Access_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttInvalidAccessMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Disabling_User_Screen</name>
        <label>Success Disabling User Screen</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Disabling_User_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttSuccessDisablingUserMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Enabling_User_Screen</name>
        <label>Success Enabling User Screen</label>
        <locationX>1898</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Enabling_User_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttSuccessEnablingUserMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Resetting_Password_Screen</name>
        <label>Success Resetting Password Screen</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Resetting_Password_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttSuccessResettingPasswordMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Actions_Screen</name>
        <label>User Actions Screen</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Action_Type</targetReference>
        </connector>
        <fields>
            <name>Input_Action_Type</name>
            <choiceReferences>choiceActionResetPassword</choiceReferences>
            <choiceReferences>choiceActionDisableUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Details_Screen</name>
        <label>User Details Screen</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Actions_Screen</targetReference>
        </connector>
        <fields>
            <name>Output_Username</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.Username</elementReference>
            </defaultValue>
            <fieldText>Username</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>User_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Output_User_Created_Date</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_User.CreatedDate</elementReference>
                    </defaultValue>
                    <fieldText>Created Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Output_Last_Login</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_User.LastLoginDate</elementReference>
                    </defaultValue>
                    <fieldText>Last Login</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LoginAsUserButton</name>
            <extensionName>c:flowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>brand-outline</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:new_window</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Log in to Experience as User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openInNewTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>url</name>
                <value>
                    <elementReference>strFmlLogInAsUserUrl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>User Actions</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2844</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_User_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttConfirmDisableUserMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Are you sure?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Clicking confirm will deactivate the current community user for this contact.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttConfirmResetPasswordMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Are you sure?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Click Confirm to send a reset password email to {!Get_User.Email}.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttErrorNetworkMemberNotFound</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Could not find a Network Member record for the community user.</text>
    </textTemplates>
    <textTemplates>
        <name>ttErrorProfileNotFound</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The profile defined in the community user settings could not be found.</text>
    </textTemplates>
    <textTemplates>
        <name>ttErrorSettingsNotFound</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Community user settings could not be found.</text>
    </textTemplates>
    <textTemplates>
        <name>ttErrorUnexpectedTypeMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The {!Input_Action_Type} user action is not supported.</text>
    </textTemplates>
    <textTemplates>
        <name>ttInvalidAccessMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You do not have access to manage community users.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttSuccessDisablingUserMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The user was successfully disabled.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttSuccessEnablingUserMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Success! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;﻿&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;An email has been sent to {!user.Email}.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttSuccessResettingPasswordMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;An email has been sent to {!Get_User.Email}.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>strCustomErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Undefined</stringValue>
        </value>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
