force-app/main/default/flows/Manage_Community_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Base_URL</name>
        <label>Get Base URL</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>FlowGetOrgBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User_Details_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>FlowGetOrgBaseUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Reset_User_Password</name>
        <label>Reset User Password</label>
        <locationX>50</locationX>
        <locationY>1346</locationY>
        <actionName>FlowResetPassword</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Resetting_Password_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sendEmail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowResetPassword</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Disable_Login_Button</name>
        <label>Disable Login Button</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>loginAsUserIsDisabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_to_Enable_Result</name>
        <label>Set Error to Enable Result</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>strCustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enable_Community_User.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unexpected_Type_Error</name>
        <label>Set Unexpected Type Error</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>strCustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttErrorUnexpectedTypeMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_for_Disabling</name>
        <label>Set User for Disabling</label>
        <locationX>578</locationX>
        <locationY>1346</locationY>
        <assignmentItems>
            <assignToReference>user.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.IsPortalEnabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Disable</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceActionDisableUser</name>
        <choiceText>Disable Customer User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>disable</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceActionResetPassword</name>
        <choiceText>Reset Password</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>reset</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Action_Type</name>
        <label>Check Action Type</label>
        <locationX>578</locationX>
        <locationY>1130</locationY>
        <defaultConnector>
            <targetReference>Set_Unexpected_Type_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unexpected Type</defaultConnectorLabel>
        <rules>
            <name>Is_Reset_Password</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Action_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceActionResetPassword</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Reset_Password_Screen</targetReference>
            </connector>
            <label>Is Reset Password</label>
        </rules>
        <rules>
            <name>Is_Disable_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Action_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceActionDisableUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Disable_User_Screen</targetReference>
            </connector>
            <label>Is Disable User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_User_Permission</name>
        <label>Check for User Permission</label>
        <locationX>1601</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Invalid_Access_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Manage_Community_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>User Has Permission</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the running user is a member of the community. Otherwise, disable log in as user button and no need to fetch the url.</description>
        <name>Check_Get_Network_Member</name>
        <label>Check Get Network Member</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Disable_Login_Button</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Network Member Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Network_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Network_Member</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Base_URL</targetReference>
            </connector>
            <label>Got Network Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_User</name>
        <label>Check Get User</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Enable_User_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Community User Not Found</defaultConnectorLabel>
        <rules>
            <name>Has_Community_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Network_Member</targetReference>
            </connector>
            <label>Has Community User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Result</name>
        <label>Check Result</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_Error_to_Enable_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Error</defaultConnectorLabel>
        <rules>
            <name>Is_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enable_Community_User.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Enabling_User_Screen</targetReference>
            </connector>
            <label>Is Success</label>
        </rules>
    </decisions>
    <description>Screen Flow for contact record pages. Enable user, reset password or login as the contact&apos;s community user.</description>
    <environments>Default</environments>
    <formulas>
        <name>strFmlLogInAsUserUrl</name>
        <dataType>String</dataType>
        <expression>{!Get_Base_URL.orgBaseUrl} + &quot;/servlet/servlet.su?oid=&quot; + {!$Organization.Id} +
&quot;&amp;retURL=%2F&quot; + {!recordId.Id} + 
&quot;&amp;sunetworkid=&quot; + {!Get_Network_Member.NetworkId} &amp;
&quot;&amp;sunetworkuserid=&quot; + {!Get_User.Id}</expression>
    </formulas>
    <formulas>
        <name>strFmlNewUserEmail</name>
        <dataType>String</dataType>
        <expression>IF( {!Input_EmailIsDifferent}, {!Input_Email.value}, {!Input_Username.value} )</expression>
    </formulas>
    <interviewLabel>Manage Community User {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Manage Community User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Network_Member</name>
        <label>Get Network Member</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Network_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NetworkMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Disable</name>
        <label>Update User - Disable</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Success_Disabling_User_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>user</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirm_Disable_User_Screen</name>
        <label>Confirm Disable User Screen</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_User_for_Disabling</targetReference>
        </connector>
        <fields>
            <name>Confirm_Disable_User_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttConfirmDisableUserMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Reset_Password_Screen</name>
        <label>Confirm Reset Password Screen</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_User_Password</targetReference>
        </connector>
        <fields>
            <name>Confirm_Reset_Password_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttConfirmResetPasswordMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enable_User_Screen</name>
        <label>Enable User Screen</label>
        <locationX>1502</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enable_Community_User</targetReference>
        </connector>
        <fields>
            <name>Enable_User_Screen_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Clicking Enable User will send an email to the Contact with a link to set up a new password and log in.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Username</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Username</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>recordId.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Input_EmailIsDifferent</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Email is different than username</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_EmailIsDifferent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Enable User</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Header</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Screen_Message_Flow_Fault</name>
            <fieldText>&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_Screen_Message_Custom</name>
            <fieldText>&lt;p&gt;Error: {!strCustomErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Access_Screen</name>
        <label>Invalid Access Screen</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invalid_Access_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttInvalidAccessMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Disabling_User_Screen</name>
        <label>Success Disabling User Screen</label>
        <locationX>578</locationX>
        <locationY>1562</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Disabling_User_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttSuccessDisablingUserMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Enabling_User_Screen</name>
        <label>Success Enabling User Screen</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Enabling_User_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttSuccessEnablingUserMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Resetting_Password_Screen</name>
        <label>Success Resetting Password Screen</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Resetting_Password_Screen_Message</name>
            <fieldText>&lt;p&gt;{!ttSuccessResettingPasswordMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Actions_Screen</name>
        <label>User Actions Screen</label>
        <locationX>578</locationX>
        <locationY>1022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Action_Type</targetReference>
        </connector>
        <fields>
            <name>Input_Action_Type</name>
            <choiceReferences>choiceActionResetPassword</choiceReferences>
            <choiceReferences>choiceActionDisableUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Details_Screen</name>
        <label>User Details Screen</label>
        <locationX>578</locationX>
        <locationY>914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Actions_Screen</targetReference>
        </connector>
        <fields>
            <name>Output_Username</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.Username</elementReference>
            </defaultValue>
            <fieldText>Username</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>User_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Output_User_Created_Date</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_User.CreatedDate</elementReference>
                    </defaultValue>
                    <fieldText>Created Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Output_Last_Login</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_User.LastLoginDate</elementReference>
                    </defaultValue>
                    <fieldText>Last Login</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LoginAsUserButton</name>
            <extensionName>c:flowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>brand-outline</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <elementReference>loginAsUserIsDisabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:new_window</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Log in to Experience as User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openInNewTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>url</name>
                <value>
                    <elementReference>strFmlLogInAsUserUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledTooltip</name>
                <value>
                    <elementReference>ttLoginAsUserDisabledTooltipMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>User Actions</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1475</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_User_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Enable_Community_User</name>
        <label>Enable Community User</label>
        <locationX>1502</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Check_Result</targetReference>
        </connector>
        <flowName>Enable_Community_User</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>email</name>
            <value>
                <elementReference>strFmlNewUserEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>username</name>
            <value>
                <elementReference>Input_Username.value</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ttConfirmDisableUserMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Are you sure?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Clicking confirm will deactivate the current community user for this contact.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttConfirmResetPasswordMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Are you sure?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Click Confirm to send a reset password email to {!Get_User.Email}.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttErrorNetworkMemberNotFound</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Could not find a Network Member record for the community user.</text>
    </textTemplates>
    <textTemplates>
        <name>ttErrorUnexpectedTypeMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The {!Input_Action_Type} user action is not supported.</text>
    </textTemplates>
    <textTemplates>
        <name>ttInvalidAccessMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You do not have access to manage community users.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttLoginAsUserDisabledTooltipMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You must also be a member of the Experience to log in as the user</text>
    </textTemplates>
    <textTemplates>
        <name>ttSuccessDisablingUserMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The user was successfully disabled.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttSuccessEnablingUserMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Success! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;﻿&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;An email has been sent to {!Enable_Community_User.user.Email}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttSuccessResettingPasswordMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;An email has been sent to {!Get_User.Email}.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>loginAsUserIsDisabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>strCustomErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Undefined</stringValue>
        </value>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
